.description {
    background-color: #ffffff;
    width: 100%;
    padding: 20px 15px 15px 15px;
    border-radius: 5px;
    box-sizing: border-box;
    box-shadow: 3px 4px 3px #888;
    text-align: left;
}
.description > p {
    margin-top: 10px ;
    font-size: 14px;
    padding-left: 10px;
}

.blog_comments {
    width: 100%;
}
.blog_comments_msg{
    margin-top: 20px;
    padding: 10px;
    display: block;
    text-align: left;
}
.blog_comment{
    width: 100%;
    background-color: #d9edf7;
    border: 1px dotted #7ca4c1;
    padding: 10px 10px 20px;
    margin-top: 10px;
    color: #31708f;
    box-sizing: border-box;
    text-align: left;
}
.blog_comment > span{
    display: block;
    padding-left: 10px;
}
.blog_comment > div{
    padding-left: 10px;
    margin-top: 10px;
}

.send_comments{
    background-color: #f5f5f5;
    padding: 10px 15px;
    border-radius: 5px;
    box-shadow: 3px 4px 3px #888888;
    margin-top: 30px;
    text-align: left;
    box-sizing: border-box;
}
.send_comments input,
.send_comments textarea,
.send_comments button{
    margin: 10px 0;
    font-size: 14px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #ccc;
}
.send_comments input{
    width: 300px;height: 34px;
    padding-left: 5px;
}
.send_comments textarea{
    width: 100%;
    height: 100px;
    padding: 5px;
    resize: none;
}
.send_comments button{
    width: 100px;
    height: 30px;
}
.send_comments button:hover{
    background-color: #adadad;
}