.every_day{
    background-color: #ffffff;
    width: 100%;
    text-align: left;
    border-radius: 5px;
    box-shadow: 3px 4px 3px #888888;
    padding: 10px 15px;
    font-size: 12px;
    box-sizing: border-box;
}
.every_day::before{
    font-family: "MyIcon";
    content: "\e122";
    font-size: 12px;
    color: slateblue;
    position: relative;
    display: block;
    height: 0px;
    left: 54px;
}

.every_day > span {
    display: block;
    margin-bottom: 5px;
    color: slateblue;
}

.article_list{
    width: 100%;
    border-radius: 5px;
}
.article{
    background-color: #ffffff;
    border-radius: 5px;
    width: 100%;
    box-shadow: 1px 2px 2px #888888;
    overflow: hidden;
    margin-top: 15px;
    text-align: left;
}
.article_title{
    display: block;
    font-size: 20px;
    color: #13102b;
    padding: 20px 10px 10px;
}
.article_title:hover{
    color: #337ab7;
}
.article_content{
    font-size: 14px;
    color: #13102b;
    padding: 0px 10px 20px 10px;
    text-align: justify;
    overflow: hidden;
    word-wrap: break-word;
    word-break: break-all;
}
.article_content img{
    float: left;
    width: 100px;
}
.article_content > * {
    margin: 0!important;
    padding: 0!important;
}
.article_foot{
    background-color: #1f1f1f;
    color: #eee;
    width: 100%;
    padding: 5px 15px;
    font-size: 14px;

}

.footer{
    /*width: 100%;*/
    background-color: #191818;
    padding: 20px 0 10px;
    height: 60px;
    /*box-sizing: border-box;*/
    text-align: center;
    font-size: 14px;
}
.footer > ul > li {
    display: inline-block;
    color: #a2a2a2;
    margin-left: 10px;
    cursor: pointer;
}
.footer p{
    margin-top: 10px;
    color: #a2a2a2;
}

.page_tool{
    margin: 20px auto;
    display: inline-block;
}
.page_tool > ul > li {
    display: inline-block;
    width: 40px;
    height: 30px;
    background: #fff;
    line-height: 30px;
    text-align: center;
    border: 1px solid black;
    cursor: pointer;
    /*float: left;*/
}
.page_tool > ul > li:hover{
    background-color: #888888;
}
.now_page {
    background: #333!important;
    color: #fff
}