* {
    padding: 0;
    margin: 0;
}
body {
    font-size: 14px;
}
a{
    text-decoration: none;
    color: #000;
}
.title {
    width: 100%;
    text-align: center;
    font-weight: 600;
    line-height: 50px;
    font-size: 20px;
}
.link {
    border: 1px solid #eee;
    padding: 10px;
    width: 95%;
    margin: 0px auto;
}
.link a{
    color: #000;
}
.blog_list{
    width: 95%;
    border: 1px solid #eee;
    padding: 10px;
    margin: 10px auto;
    font-weight: 600;
}
.blog_list span{
    display: block;
}

.blog_list ul{
    padding: 10px 15px;
    font-weight: 500;
    width: 100%;
    margin: 10px auto;
}
.blog_list ul > li {
    margin-top: 5px;
}
.blog_list ul > li > a{
    cursor: pointer;
}